/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.hotel {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__review {
    margin: 0 5px;

    &s {
      display: flex;
      align-items: center;
    }
  }

  &-action.mat-stroked-button {
    margin: 0 5px;
  }
}
